html, body {
  margin: 20px;
  font-family: sans-serif;
  background-color: #34495E;
  color: #ECF0F1;
}

button {
  position: relative;
  vertical-align: top;
  width: 30%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a, a:visited {
	color: #ECF0F1;
}

h1 a {
	text-decoration: none;
}